@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<address>
    <strong>Support:</strong>   <a href="mailto:tobias.kamenicky@gmail.com">tobias.kamenicky@gmail.com</a><br />
    
</address>