@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auction Portal</h1>
    <p class="lead">Welcome to Auction portal. Sell and buy anything you like for the best prices.</p>
    
    <p><a href="@Url.Action("Index","Auctions")" class="btn btn-primary btn-lg">Find out more &raquo;</a></p>
</div>
